<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.familytree.mapper.FamilyPersonMapper">

    <resultMap id="BaseResultMap" type="com.example.familytree.entity.FamilyPerson">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="familyId" column="family_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="birthDate" column="birth_date" jdbcType="TIMESTAMP"/>
            <result property="deathDate" column="death_date" jdbcType="TIMESTAMP"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="isDel" column="is_del" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,family_id,name,
        sex,birth_date,death_date,
        avatar,is_del
    </sql>
    <select id="getTongjiPersonList" resultType="com.example.familytree.entity.FamilyPerson">
        SELECT fp.*
        FROM family_person AS fp
                 JOIN person_relation AS pr ON pr.person_id1 = fp.id
        WHERE pr.person_id2 = #{personId} AND pr.person_type_id in (5,6,7)
    </select>
    <select id="getZijiPersonList" resultType="com.example.familytree.entity.FamilyPerson">
        SELECT fp.*
        FROM family_person AS fp
                 JOIN person_relation AS pr ON pr.person_id1 = fp.id
        WHERE pr.person_id2 = #{personId} AND pr.person_type_id in (8,9,10,11)
    </select>
</mapper>